@use '../variables';

.hero{

    &--gradient-section-blue-purple {
        background-image: linear-gradient(variables.$blue3, variables.$blue2, variables.$blue1, variables.$purple);
    }
}

.announcement {
    &--gradient-section-purple-yellow {
        background-image: linear-gradient(variables.$purple, variables.$yellow);
    }
}

.description {
    &--gradient-section-yellow-pink {
        background-image: linear-gradient(variables.$yellow,variables.$pink2, variables.$purple);
    }
    &--gradient-section-pink-green {
        background-image: linear-gradient(variables.$purple,variables.$pink1, variables.$green2);
    }
    &--gradient-section-green-blue {
        background-image: linear-gradient(variables.$green2, variables.$blue1, variables.$blue2,variables.$blue3);
    }
    &--gradient-section-blue-pink {
        background-image: linear-gradient(variables.$blue3, variables.$blue2, variables.$blue1, variables.$pink1);
    }



}
