@use 'bigparty';
@use 'hero';
@use 'announcement';
@use 'variables';
@use './components/background-image';
@use 'description';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: variables.$textColor;
    overflow-x: hidden;
}

/* 
font-family: 'Moon Dance', cursive;
font-family: 'Rubik', sans-serif;
*/